.divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.divider svg {
    position: relative;
    display: block;
    width: calc(242% + 1.3px);
    height: 103px;
}

.divider path {
    fill: var(--primary_lighter);
}