.teamTitle {
  font-size: 1.5em;
  margin: 0;
}

.teamList>h3 {
  font-weight: bold;
}

.teamGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teamGroup {
  background-color: var(--primary_lighter);
  border: solid white 1px;
  border-radius: 15px;
  padding: 15px 10px;
  margin: 50px 10px;
}

