.teamTitle {
  font-size: 1.5em;
  margin: 25px 0 10px 0;
}

@media (max-width: 500px) {

  .teamList {
    padding: 10px;
  }

}

@media (min-width: 500px) {

  .teamList {
    padding: 80px;
  }
}

.teamList>h3 {
  font: bold;
}

.teamList>div {
  background-color: transparent;
}

.teamGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

