.event {
    border-radius: 15px;
    margin-bottom: 10px;
    overflow: hidden;
    border: 2px solid var(--accent);
    padding: 25px;
}

.title {
    margin: 0;
}

.time {
    margin: 0 auto;
}

.description, .signups {
    margin: 0 auto;
}

.signups {
    color: gray;
}

.event hr {
    margin: 10px 0;
}

.actions > a, .actions > button {
    height: 100%;
    
}

.deleteButton, .editButton {
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-left: 2px;
    margin-right: 2px;
}

.deleteButton {
    background-color: rgb(244, 8, 0);
}

.editButton {
    background-color: rgb(0, 79, 207);
}