@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #142664;
  --accent: #ffffff;
  --primary_darker: #0a1436;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 38, 100;
    --background-end-rgb: 20, 38, 100;
  }
} */

body {
  color: white;
  background: var(--primary);
}

h2 {
  font-size: 2.0em;
}

p {
  font-size: 14px;
}

input, textarea {
  font-size: 14px;
  padding: 5px;
}

label {
  font-size: 14px;
}