@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #142664;
  --primary_light: #05299E;
  --primary_lighter: #172d7c; 
  --secondary: #06AFD3;
  --secondary2: #5A15AB;
  --accent: #ffffff;
  --primary_darker: #0a1436;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 38, 100;
    --background-end-rgb: 20, 38, 100;
  }
} */

body {
  color: var(--accent);
  background: var(--primary);
}

h2 {
  font-size: 2.0em;
}

p {
  font-size: 14px;
}

input,
textarea {
  font-size: 14px;
  padding: 5px;
}

label {
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: solid var(--accent) 1px;
  padding: 15px;
  justify-content: center;
}

form label {
  color: var(--accent);
  font-size: 14px;
  margin: 10px 0 5px 0;
  font-weight: bold;
}

form input,
form textarea {
  border: solid var(--accent) 1px;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--accent);
  font-size: 14px;
  padding: 10px;
  width: min(50%, 500px);
}

form input:focus,
form textarea:focus {
  outline: none;
  border: solid rgb(89, 89, 89) 1px;
}

form button {
  background-color: transparent;
  border: var(--accent) solid 2px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 2.0em;
  color: white;
  width: min-content;
  margin: 5px 0 0 0;
  padding: 0 20px;
}

form button:hover {
  cursor: pointer;
  color: var(--primary);
  background-color: var(--accent);
}