.aboutTitle {
  text-align: center;
  font-size: 2.0em;
}

.screenContainer,
.titleContainer {
  padding-top: 125px;
  height: 100vh;
  max-width: 100%;
  position: relative;
}

@media (max-width: 500px) {

  .screenContainer,
  .titleContainer {
    padding: 0;
  }

  .about {
    text-align: center;
    background-color: var(--primary_darker);
    z-index: 5;
  }
}

@media (min-width: 500px) {

  .screenContainer,
  .titleContainer {
    padding: 0 80px;
  }
}

.titleContainer {
  margin-top: 200px;
  text-align: center;
}

.content img {
  width: 150px;
  height: 150px;
  margin-top: 30px;
}

.timelinePadding {
  display: flex;
  flex-direction: column;
}

.timelineContainer {
  background-color: var(--primary_darker);
}

.timelineContent {
  margin: auto 15%;
}

.timelineContent, .itemContent {
  display: flex;
  flex-direction: column;
  position: relative;
}

.timelineLeft {
  flex-direction: row;
  position: relative;
}

.timelineLeft h3 {
  position: relative;
  font-size: 1.5em;
  font-weight: bold;
}

.itemContent .itemContenttitle {
  color: rgb(42, 109, 255);
}

@media (max-width: 500px) {

  .timelineLeft .arrow {
    display: none;
  }

  .timelineLeft {
    text-align: center;
    width: 100%;
    z-index: 5;
    border: var(--accent) solid 2px;
    margin: 15px 0;
    border-radius: 10px;
    background-color: var(--primary);
  }

  .timelineLeft p {
    margin: 15px;
  }

  .timelineContainer {
    padding: 25px 25px 150px 25px;
  }

  .eventBar {
    flex-direction: column;
  }

  .timelineLine {
    position: absolute;
    top: 46px;
    border-radius: 4px;
    bottom: 0;
    left: 50%;
    width: 8px;
    height: calc(100% - 100px);
    border: white inset 1px;
    background-color: white;
  }

  .svg {
    display: none;
  }
}

@media (min-width: 500px) {

  /* .timelineLeftBar:not(:last-child) {
    border-left: 2px solid white;
  } */

  .timelineContainer {
    padding: 80px 80px 150px 80px;
  }

  .timelineLeft p {
    margin-right: 20%;
  }

  .timelineLeft {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .itemContent {
    margin-left: 12vw;
  }

  .eventBar {
    flex-direction: row;
  }

  .timelineLeft .arrow {
    height: 50px;
    z-index: 100;
    width: 50px;
    position: absolute;
    border-bottom-left-radius: 50vh;
    border-left: white solid 3px;
    border-bottom: white solid 3px;
    left: -30px;
    top: -100%;
  }

  .timelineLine {
    position: absolute;
    top: 46px;
    border-radius: 4px  ;
    bottom: 0;
    left: -2px;
    width: 8px;
    height: calc(100% - 100px);
    border: white inset 1px;
    background-color: white;
  }
}

.events {
  background-color: var(--primary_lighter);
  padding: 50px;
  margin-top: -5px;
}

.eventTitle {
  text-align: center;
}

.eventBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
