.eventCard {
    position: relative;
    width: min(320px, 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: gray;
    margin: 5px;
}

.imgContainer {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;

}

.imgContainer img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.eventCard img {
    background-color: white;
    transition: scale ease-in 0.2s;
}

.eventCard:hover .title {
    text-decoration: underline;
}

.eventCard:hover img {
    scale: 1.1;
}

.title,
.description {
    width: 100%;
    max-width: 100%;
    color: white;
}

.title {
    font-weight: bold;
    font-size: 20px;
    flex-wrap: wrap;
    vertical-align: middle;
}

.link {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}